{% set title = 'Liste des Chips' %} {% extends 'base.html.twig' %} {% block body%}
<link rel="stylesheet" href="{{ asset('style/article.css') }}" />
<link rel="stylesheet" href="{{ asset('style/loader.css') }}" />
<script src="{{ asset('js/js.js') }}"></script>


<div id="loading-screen" class="container-loader">
  <div  class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
  </div>
</div>

<div class="container">
  <h1>Liste des Chips</h1>

  {% if app.user %}
  <div class="mb-3">
    Bienvenue, <strong>{{ app.user.userIdentifier }}</strong>
  </div>

    <div id="buttonContainer">
      <button id="showFormButton">Ajouter un article</button>
    </div>

  <div id="articleForm" class="container-form" style="position: absolute; right: -100%; transition: right 0.5s;">
      {{ form_start(form) }}
      <h1>Ajouter des Chips</h1>
      {{ form_widget(form) }}
      {{ form_end(form) }}
  </div>
  {% endif %}

  <div class="articles-container">
    {% for article in articles %}
    <div class="article-container">
      <a
        href="{{ path('article_show', { id: article.id }) }}"
        class="article-content-link"
      >
        {% if article.imageFilename %}
        <img
          src="{{ asset('uploads/articles/' ~ article.imageFilename) }}"
          loading="lazy"
          alt="Image de l'article"
          class="article-image"
        />
        {% endif %}
        <h2 class="article-title">{{ article.title | nl2br }}</h2>
        <p class="article-summary">{{ article.summary | nl2br }}</p>
      </a>

      {% if app.user %}
      <div class="article-actions">
        <a href="{{ path('article_edit', { id: article.id }) }}" class="editer"
          >Éditer</a
        >
        <a
          href="{{ path('article_delete', { id: article.id }) }}"
          class="supprimer"
          >Supprimer</a
        >
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
