{% set title = 'Détail article' %} {% extends 'base.html.twig' %} {% block body
%}

<link rel="stylesheet" href="{{ asset('style/detail.css') }}" />
<div class="container">
  <div class="detail-card">
    {% if article.imageFilename %}
    <img
      src="{{ asset('uploads/articles/' ~ article.imageFilename) }}"
      alt="Image de l'article"
      class="detail-image"
    />
    {% endif %}
    <div class="detail-content">
      <h1 class="article-title">{{ article.title }}</h1>
      <h2 class="article-summary-title">Résumé :</h2>
      <p class="article-summary">{{ article.summary | nl2br }}</p>
      <h2 class="article-content-title">Ingrédient :</h2>
      <div class="article-content">{{ article.content | nl2br }}</div>
      <a href="{{ path('app_article') }}" class="retour"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"/><path d="m12.707 8.707-1.414-1.414L6.586 12l4.707 4.707 1.414-1.414L10.414 13H16v-2h-5.586l2.293-2.293z"/></svg>Revenir à la liste</a>
    </div>
  </div>
</div>
{% endblock %}
